<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
<body>
<div class="banner">
    <nav>
        <div class="left_nav">Segment.ai</div>
        <div class="right">
            <ul>
                <li><a href="homepage.html">Home</a></li>
                <li><a href="#Home">Pricing</a></li>
                <li><a href="login.html">Log in</a></li>
            </ul>
        </div>
    </nav>
</div>
<img class="img" src="{{ url_for('static', filename='images/About_Us.png') }}" height="600" width="1000">
</body>
</html>