<aside><br>
    <h1>Segment.ai</h1>
    <a href="/homepage" style="padding: 5px"> <h3>Home</h3> </a>

</body>
</html>



    <p><b>Post-Clustering</b></p>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">

    <a href="/threed">
      <i class="fa fa-laptop" aria-hidden="true"></i>
      3D Cluster
    </a>
    <a href="/hah">
      <i class="fa fa-clone" aria-hidden="true"></i>
      Header against Header
    </a>
    <a href="/hac">
      <i class="fa fa-star-o" aria-hidden="true"></i>
      Header against Cluster
    </a>
    <a href="/ic">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
      Individual Cluster
    </a>
    <a href="javascript:void(0)">
        <i class="fa fa-laptop" aria-hidden="true"></i>

      </a>
  </aside>
