<style>
    .inp {
        margin-top: 10px;
        color: white;
        padding: 10px;
        background-color: #2F7C45;
        border: none;
        border-radius: 7px;
    }
    .inp:hover {
        cursor: pointer;
    }

    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
    }

    .forms {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }

    .forms form {
        margin-left: 40px; /* Add margin between forms */
        margin-right: 40px;
    }

    aside {
        padding: 20px;
    }

    </style>
</head>

<body>
<aside><br>
    <h3>3D Cluster</h3>
    <a href="/sidebar"><h3>Home</h3></a>
    <p><b>Post-Clustering</b></p>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css')}}">

    <i class="fa fa-laptop" aria-hidden="true"></i>
    3D Cluster
    </a>
    <a href="/hah">
        <i class="fa fa-clone" aria-hidden="true"></i>
        Header against Header
    </a>
    <a href="/hac">
        <i class="fa fa-star-o" aria-hidden="true"></i>
        Header against Cluster
    </a>
    <a href="/ic">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        Individual Cluster
    </a>
    <a href="javascript:void(0)">
        <i class="fa fa-laptop" aria-hidden="true"></i>

    </a>
</aside>

<div class="image">
    <img src="data:image/png;base64,{{ plot_data }}" alt="Matplotlib Graph">
</div>


</body>
</html>