<style>
    body {
        margin: 0;
        padding: 0;
        display: flex;
    }

    .forms {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: black;
        margin: auto; /* Center horizontally */
        padding: 20px;
    }

  </style>
  <div class="forms">
    <form action="/process-form1" method="post">
        <h2>Form 1</h2>
        <label for="string">String</label>
        <input type="text" id="name1" name="name1" required>
        <br>
        <input type="submit" value="Submit Form 1">
    </form>

    <form action="/process-form1" method="post">
        <h2>Form 2</h2>
        <label for="string">String</label>
        <input type="text" id="name1" name="name1" required>
        <br>
        <input type="submit" value="Submit Form 2">
    </form>
</div>
<aside><br>
    <h3>Individual Cluster</h3> 
    <a href="sidebar.html">Home</a>
  <p><b>Pre-Clustering</b></p>
    <link rel="stylesheet" href="sidebar.css">
   
    <a href="javascript:void(0)">
      <i class="fa fa-laptop" aria-hidden="true"></i>
      Computers
    </a>
    <a href="javascript:void(0)">
      <i class="fa fa-clone" aria-hidden="true"></i>
      Shared with me
    </a>
    <a href="javascript:void(0)">
      <i class="fa fa-star-o" aria-hidden="true"></i>
      Starred
    </a>
    <a href="javascript:void(0)">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
      Trash
    </a><br>
  
  </body>
  </html>
  
  
  
    <p><b>Post-Clustering</b></p>
    <link rel="stylesheet" href="sidebar.css">
      <a href="3d cluster.html">
      <i class="fa fa-laptop" aria-hidden="true"></i>
      3D Cluster
    </a>
  
      <a href="Header against header.html">
      <i class="fa fa-clone" aria-hidden="true"></i>
      Header against Header
    </a>

    <a href="Header against cluster.html">
      <i class="fa fa-star-o" aria-hidden="true"></i>
      Header against Cluster
    </a>
      <i class="fa fa-trash-o" aria-hidden="true"></i>
      Individual Cluster
    </a>
    <a href="javascript:void(0)">
        <i class="fa fa-laptop" aria-hidden="true"></i>
        
      </a>
  </aside>
  
  
  <div class="social">
    <a href="https://www.linkedin.com/in/florin-cornea-b5118057/" target="_blank">
      <i class="fa fa-linkedin"></i>
    </a>
  </div>